{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block header %}
    <div class="pt-4 pb-5" >
        <h6 class="text-muted pb-5" >
            <a class="text-decoration-none text-success h6" href="{% url 'home' %}" >&laquo; Voltar </a>
        </h6>
        <h1 class="page-title h1 my-5" >
            <span class="bg-success text-white px-2 py-3" >About</span>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nulla eget enim lacinia ullamcorper. Praesent euismod, libero vitae dictum malesuada, erat nisl auctor nunc, nec blandit leo tortor ac nunc. Aenean sed lectus et dolor rhoncus pharetra. Nullam ultrices, eros vitae lacinia ultricies, nibh velit tincidunt nunc, sit amet dignissim metus nunc eu nisl.</p>
    <p>Maecenas sed nulla at metus adipiscing ultrices. Sed malesuada, erat vitae ullamcorper mattis, nunc justo dignissim nisl, vitae viverra nunc nulla eu lectus. Sed euismod, libero vitae dictum malesuada, erat nisl auctor nunc, nec blandit leo tortor ac nunc. Ut sit amet magna vitae nunc ultrices mollis. Nullam ultrices, eros vitae lacinia ultricies, nibh velit tincidunt nunc, sit amet dignissim metus nunc eu nisl.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Sed euismod, libero vitae dictum malesuada, erat nisl auctor nunc, nec blandit leo tortor ac nunc. Aenean sed lectus et dolor rhoncus pharetra. Nullam ultrices, eros vitae lacinia ultricies, nibh velit tincidunt nunc, sit amet dignissim metus nunc eu nisl.</p>
{% endblock %}
